@import "tailwindcss";

.hero-bg {
  background: linear-gradient(135deg, #0f172a 0%, #1e2937 100%);
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.nav-link {
  position: relative;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #22d3ee;
  transition: width 0.3s ease;
}

.nav-link:hover:after {
  width: 100%;
}

/* .animate-marquee {
  animation: marquee 35s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
} */

/* From Uiverse.io by SelfMadeSystem */
.container {
  position: absolute;
  inset: -1em;
  --c: 7px;
  background-color: #000;
  background-image: radial-gradient(circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)),
    radial-gradient(circle at 50% 50%,
      #0000 1.5px,
      #000 0 var(--c),
      #0000 var(--c)),
    radial-gradient(circle at 50% 50%, #f00, #f000 60%),
    radial-gradient(circle at 50% 50%, #ff0, #ff00 60%),
    radial-gradient(circle at 50% 50%, #0f0, #0f00 60%),
    radial-gradient(ellipse at 50% 50%, #00f, #00f0 60%);
  background-size:
    12px 20.7846097px,
    12px 20.7846097px,
    200% 200%,
    200% 200%,
    200% 200%,
    200% 20.7846097px;
  --p: 0px 0px, 6px 10.39230485px;
  background-position:
    var(--p),
    0% 0%,
    0% 0%,
    0% 0px;
  animation:
    wee 40s linear infinite,
    filt 6s linear infinite;
  opacity: 0.5;
  
}

@keyframes filt {
  0% {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes wee {
  0% {
    background-position:
      var(--p),
      800% 400%,
      1000% -400%,
      -1200% -600%,
      400% 41.5692194px;
  }

  to {
    background-position:
      var(--p),
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}